

<div class="small-2 large-2 columns">
  <div class"sidebar">
    <img src="assets/images/fii.png">
    <h3>PR DASHBOARD</h3>
    <p>MONTHLY SUMMARY JANUARY 2015</p>
    <p>Our primary focues this month was planning for the year ahead. We developed the 2015 message framework and editorial calendar, while also advancing several public opportunities for FII and its spokespeople.</p>
    <h1><a href="#">54.6M</a></h1>
    <label>earned media impressions</label>
</div>
</div>

<div class="small-10 large-10 columns">

  <div class="row">

    <div class="small-2 large-4 columns">
      <label>Thought Leadership</label>
      <div class="panel">
        <h5>Speaking opportunities, awards, recognition by FII pargners</h5>
        <p>Jesus Gerena named one of the <strong>2015 Barr Fellows.</strong></p>
        <p>Huffington Post/Mauricio Miller <a href="#">Let's Make 2015 About Investing In Local Initiative</a></div>
    </div>

    <div class="small-4 large-4 columns">
      <label>Connections</label>
      <div class="panel">
        <h5>Interviews conducted and opportunites created.</h5>
        <h3>Interviews Conducted</h3>
        <p>Scott Winship, forbes.com</p>
      </div>
    </div>

    <div class="small-6 large-4 columns">
      <label>Media Coverage</label>
      <div class="panel">
        <p>Asian Journal (Malou Liwanang-Bledsoe)<br />
          <a href="#">Some Filipino in 2014 People and events that made a difference</a><br />
          <label><strong>Impressions:</strong> 4,298</label>
        </p>
        <p>Boston Globe<br />
           <a href="#">Community lending cirlces go mainstream</a><br />
          <label><strong>Impressions:</strong> 5,611</label>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="small-6 large-4 columns">

      <label>Online Influence</label>
      <div class="panel">
        <h5>Interviews conducted and opportunites created.</h5>
      </div>

    </div>

    <div class="small-6 large-8 columns">

      <label>Featured Quote</label>
      <div class="panel">
        <h5>Interviews conducted and opportunites created.</h5>
      </div>

    </div>

  </div>

</div>
